@model IEnumerable<CakeManagements.Entities.Cake>

@{
    ViewData["Title"] = "Index";
    var category = ViewBag.Category as CakeManagements.Entities.Category;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CakeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expiry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfManufacture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CakeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expiry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfManufacture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
                <a class="btn btn-success btn-sm text-white" asp-controller="Cake" asp-action="Edit" asp-route-cakeId="@item.CakeId">
                    <i class="fa fa-edit"></i>
                </a>
                <a class="btn btn-warning btn-sm text-white"  asp-controller="Cake" asp-action="Detail" asp-route-Id="@item.CakeId">
                    <i class="fa fa-eye"></i>
                </a>
            </td>
            
        </tr>
}
    </tbody>
</table>
